body {
  margin: 0 auto;
}
* {
  box-sizing: border-box;
}

.container {
  width: 900px;
  margin: 0 auto;
}
.row {
  display: flex;
  margin: 0 -0.5rem;
}
[class^="column"] {
  padding: 0 0.5rem;
}
.column {
  flex: 1 0 0;
}
.navbar {
  display: flex;
  justify-content: space-between;

  font-family: sans-serif;
  font-weight: bold;
}

.justify-center {
  justify-content: center;
}

.navbar ul:first-of-type {
  flex-grow: 1;
}
.navbar ul {
  display: flex;

  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar a {
  padding: 16px 10px;
  text-decoration: none;
  color: black;
  font-size: 12px;
  display: inline-block;
}

.navbar .pink {
  background-color: pink;
  padding: 10px 20px;
  border-radius: 20px;
}
.navbar .pink:hover {
  background-color: rgb(4, 170, 109);
}
.navbar .green {
  background-color: rgb(4, 170, 109);
  border-radius: 20px;
  padding: 10px 20px;
  color: white;
}
.nav .active {
  background-color: rgb(4, 170, 109);
  padding: 16px 10px;
  padding: 11px;
}
.navbar .paid {
  padding: 10px;
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: #282a35;

  margin: 0;
  font-size: 11px;
  height: 35px;
}
.nav ul:first-of-type {
  align-items: center;
}
.nav ul:first-of-type li a {
  padding: 10px;
}
.nav a {
  color: white;
  font-size: 11px;
}
.nav i {
  color: white;
}
.navbar .i:first-of-type {
  padding-top: 15px;
  padding-left: 10px;
}
.nav .i:first-of-type {
  padding: 10px;

  font-size: 16px;
}
.nav .i:first-of-type:hover {
  background-color: black;
}
.nav ul:last-of-type li {
  padding: 11px 5px;
}

.hover-green ul li:hover {
  background-color: rgb(4, 170, 109);
}
.hover-green ul li a:hover {
  color: white;
}
.hover-black ul li:hover {
  background-color: black;
}
.wpl {
  align-items: center;
}
.wpl .pink span {
  border: 1px solid black;
  border-radius: 20px;
  background-color: white;
  font-size: 8px;
  padding: 3px 6px;
  position: relative;
  top: -1px;
  color: black;
}
.hover-green span {
  border: 1px solid black;
  border-radius: 20px;
  background-color: white;
  font-size: 8px;
  padding: 3px 6px;
  position: relative;
  top: -1px;
  color: black;
}
header {
  font-family: sans-serif;
  max-width: 60%;
}
header h1 {
  font-weight: normal;
  padding: 10px;
}
.btn {
  background-color: rgb(4, 170, 109);
  text-decoration: none;
  color: white;
  padding: 10px 12px;
  border-radius: 5px;
}
header .small-btn {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
header .blue-div {
  background-color: #d9eee1;
  padding: 20px;
  font-size: 12px;
}
header .big-btn {
  margin-top: 20px;
}
main .first-div h2 {
  font-weight: normal;
}
main .first-div {
  font-family: sans-serif;
  padding: 15px;
}
main .first-div p {
  font-size: 12px;
}

.css-ex h4 {
  font-weight: 500;
  font-family: sans-serif;
  padding-top: 10px;
  margin: 15px;
}
main .html-ex {
  width: 80%;
  height: 20%;
  border-left: 5px solid rgb(4, 170, 109);
  background-color: #fff;
  font-size: 12px;
  padding: 5px;
  margin: 15px;
  margin-bottom: 20px;
  line-height: 0.5;
}
main .p-red {
  color: red;

  padding-left: 10px;
}
main .p-brown {
  color: brown;
}
main .span {
  color: black;
}
main .blue-span {
  color: blue;
}
.main .try a {
  padding: 10px;
}

.css-ex {
  background-color: #e7e9eb;
  max-width: 60%;
  margin: 10px;
  border-radius: 5px;
  padding-bottom: 15px;
}

main .last {
  margin: 15px;
}
main .last-p {
  padding: 15px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 14px;
}
main .css-example {
  font-family: sans-serif;
}
main .css-emt {
  font-weight: normal;
  font-size: 20px;
  font-family: sans-serif;
}
main .css-example .go-to-ex {
  font-size: 12px;
  color: black;
}
.go-to-ex {
  font-size: 12px;
  color: black;
}
.sub-span {
  background-color: rgb(4, 170, 109);

  padding: 4px 10px;
  border-radius: 5px;
}
.submit {
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  font-family: sans-serif;
  text-decoration: none;
  color: white;
}
main .css-example .go-to-ex:hover {
  color: green;
}
main .css-example p {
  font-size: 12px;
}
main .css-exercises {
  font-family: sans-serif;
  max-width: 70%;
  display: block;
}
main .css-exercises h2 {
  font-size: 20px;
  font-weight: normal;
  color: white;
}
main .test-you {
  background-color: #282a35;
  padding: 10px 14px 10px 10px;
}
main .test-you h2 {
  margin-left: 10px;
  margin-top: 10px;
}
main .exer-ex {
  background-color: white;
  padding: 20px;
}
main .exer-ex h2 {
  color: black;
  margin-left: 5px;
}
main .exer-ex h2 ~ p {
  font-size: 12px;
  margin-left: 5px;
}
main .grey-ex {
  background-color: #e7e9eb;
  padding: 10px;
  line-height: 5px;
  font-size: 13px;

  font-family: monospace;
}
main .grey-ex .small-in {
  padding: 1px;
  width: 12px;
  border: none;
  margin-bottom: 5px;
  margin-right: 5px;
}
main .grey-ex .big-in {
  width: 60px;
  padding: 1px;
  border: none;
  margin-bottom: 5px;
}
main .grey-ex input {
  margin-left: 15px;
}
main .grey-ex input:active {
  border: 2px solid black;
}
main .css-emt ~ p {
  font-size: 12px;
}
main .quiz {
  margin-left: 25px;
  font-family: sans-serif;
  padding: 20px;
}
main button {
  border: none;
  background-color: #2196f3;
  padding: 5px 30px;
  border-radius: 3px;
}
main .quiz .btn-blue {
  text-decoration: none;
  color: white;
  font-size: 11px;
  font-weight: 550;
}
main .refer {
  font-family: sans-serif;
  margin: 20px;
}
main .refer p {
  font-size: 12px;
}
main .refer ul {
  font-size: 12px;
  list-style-type: none;
}
main .refer ul li {
  padding: 10px;
}
main .refer ul li a {
  color: black;
}

main .end {
  background-color: #282a35;
  width: 60%;

  border-radius: 10px;
  padding: 0 60px 50px;
  font-family: "Source Sans Pro", sans-serif;
}
main .end h2 {
  color: #ffc0c7;
  letter-spacing: 1px;
  font-size: 30px;
  font-weight: bold;
  padding-top: 50px;
}
main .end p {
  color: #ffc0c7;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 40px;
}
.btn-bord {
  background-color: rgb(4, 170, 109);
  color: white;
  font-size: 12px;
  padding: 10px 30px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 20px;
}
main .circle {
  background-color: rgb(4, 170, 109);
  color: white;

  border-radius: 50%;
  width: 150px;
  height: 140px;
  display: inline-block;
  font-family: sans-serif;
  position: relative;
  right: -360px;
  top: -80px;
}
main .circle p {
  font-size: 12px;
  text-align: center;
}

main .circle h1 {
  text-align: center;
  position: relative;
  top: -20px;
  right: -10px;
  font-weight: 900;
  font-size: 50px;
}
main .big-three {
  font-size: 20px;
  font-weight: normal;
  position: relative;
  top: -30px;
  left: -15px;
}
main .small-btn {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  width: 60%;
}

footer .ft-start {
  width: 80%;
  font-family: sans-serif;
}
footer .ft-grey {
  background-color: #e7e9eb;
  padding: 5px 10px;
  margin: 10px;
  border-radius: 5px;
}
footer .row {
  display: flex;
  gap: 10px;
}
footer a {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  font-size: 12px;
}
.color-black {
  color: black;
}
footer .f-end {
  font-family: sans-serif;

  margin: 0;
}
footer .ft-end h5 {
  text-align: center;
  margin-left: 35px;
  font-size: 14px;
}
footer .ft-end ul li a {
  font-size: 9px;
  line-height: 1.5em;
}
footer .ft-end ul {
  list-style-type: none;
}
footer .black-a-btn {
  background-color: #282a35;
  display: inline-block;
  padding: 8px 10px;
  color: white;
  border-radius: 5px;
  font-size: 10px;
  margin-left: 80px;
}
footer .finish p{
  font-size: 10px;
  font-family: sans-serif;
  color: #000;
  opacity: 0.60;
  padding: 10px;
  width: 80%;
}
footer .finish p:nth-child(2) {
  text-align: center;
}
footer .finish .i-finish {
   display: flex;
   justify-content: center;
   margin-right: 200px;
}


.column-1{
  flex: 0 0 8.333333%;
  background-color: rgba(223, 46, 15, 0.671);
  }
.column-2 {
  flex: 0 0 16.66666667%;
  background-color: rgba(223, 46, 15, 0.671);
}
.column-3 {
  flex: 0 0 25%;
  background-color: rgba(223, 46, 15, 0.671);
}
.column-4 {
  flex: 0 0 33.333333%;
}
.column-5 {
  flex: 0 0 41.66666667%;
  background-color: rgba(223, 46, 15, 0.671);
}
.column-6 {
  flex: 0 0 50%;
  background-color: rgba(223, 46, 15, 0.671);
}
.column-7 {
  flex: 0 058.22222%;
  background-color: rgba(223, 46, 15, 0.671);
}
.column-8 {
  flex: 0 0 66.66666667%;
 
}
.column-9 {
  flex: 0 0 75%;
  background-color: rgba(223, 46, 15, 0.671);
}
.column-10 {
  flex: 0 0 83.111111%;
  background-color: rgba(223, 46, 15, 0.671);
}
.column-11 {
  flex: 0 0 91.66666667%;
  background-color: rgba(223, 46, 15, 0.671);
}
.column-12 {
  flex: 0 0 100%;
   background-color: rgba(223, 46, 15, 0.671);
}
