body {
  margin: 0 auto;
}
* {
  box-sizing: border-box;
}

.container {
  width: 900px;
  margin: 0 auto;
}
.row {
  display: flex;
  margin: 0 -0.5rem;
}
[class^="column"] {
  padding: 0 0.5rem;
}
.column {
  flex: 1 0 0;
}
.navbar {
  display: flex;
  justify-content: space-between;

  font-family: sans-serif;
  font-weight: bold;
}

.justify-center {
  justify-content: center;
}

.navbar ul:first-of-type {
  flex-grow: 1;

}
.navbar ul {
  display: flex;

  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar a {
  padding: 16px 10px;
  text-decoration: none;
  color: black;
  font-size: 12px;
  display: inline-block;
}

.navbar .pink {
  background-color: pink;
  padding: 10px 20px;
  border-radius: 20px;
}
.navbar .pink:hover {
  background-color: rgb(4, 170, 109);
  
}
.navbar .green {
  background-color: rgb(4, 170, 109);
  border-radius: 20px;
  padding: 10px 20px;
  color: white;
}
.nav .active {
  background-color: rgb(4, 170, 109);
  padding: 16px 10px;
  padding: 11px;
}
.navbar .paid {
  padding: 10px;
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: #282a35;
 
  margin: 0;
  font-size: 11px;
  height: 35px;
  
}
.nav ul:first-of-type {
  align-items: center;
}
.nav ul:first-of-type li a {
  padding: 10px;
}
.nav a {
  color: white;
  font-size: 11px;
}
.nav i {
  color: white;
}
.navbar .i:first-of-type {
  padding-top: 15px;
  padding-left: 10px;
}
.nav .i:first-of-type {
  padding: 10px ;
  
  font-size: 16px;

}
.nav .i:first-of-type:hover {
  background-color: black;
}
.nav ul:last-of-type li {
  padding: 11px 5px;

}

.hover-green ul li:hover {
  background-color: rgb(4, 170, 109);
}
.hover-green ul li a:hover {
  color: white;
}
.hover-black ul li:hover  {
  background-color: black;
}
.wpl {
  align-items: center;

}
.wpl .pink span {
  border: 1px solid black;
  border-radius: 20px;
  background-color: white;
  font-size: 8px;
  padding: 3px 6px;
  position: relative;
  top: -1px;
  color: black;
}
.hover-green  span {
  border: 1px solid black;
  border-radius: 20px;
  background-color: white;
  font-size: 8px;
  padding: 3px 6px;
  position: relative;
  top: -1px;
  color: black;
}
header {
  font-family: sans-serif;
  max-width: 60%;
}
header h1 {
  font-weight: normal;
  padding: 10px;
}
.btn {
  background-color: rgb(4, 170, 109);
  text-decoration: none;
  color: white;
  padding: 10px 12px;
  border-radius: 5px;
}
header .small-btn {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
header .blue-div {
  background-color: #d9eee1;
  padding: 20px;
  font-size: 12px;
}
header .big-btn {
  margin-top: 20px;
}
main .first-div h2 {
  font-weight: normal;
}
main .first-div {
  font-family: sans-serif;
  padding: 15px;
}
main .first-div p {
  font-size: 12px;
}

.css-ex h4 {
  font-weight: 500;
  font-family: sans-serif;
  padding-top: 10px;
  margin: 15px;
}
main .html-ex {
  width: 80%;
  height: 20%;
  border-left: 5px solid rgb(4, 170, 109);
  background-color: #fff;
  font-size: 12px;
  padding: 5px;
  margin: 15px;
  margin-bottom: 20px;
  line-height: 0.5;
  
}
main .p-red {
  color: red;
  
  padding-left: 10px;

}
main .p-brown {
  color: brown;
}
main .span {
  color: black;
  
}
main .blue-span {
  color: blue;
}
.main .try a {
  padding: 10px;
 


}

.css-ex {
  background-color: #e7e9eb;
  max-width: 60%;
  margin: 10px;
  border-radius: 5px;
  padding-bottom: 15px;
  
}

main .last {
  margin: 15px;

}
main .last-p {
   padding: 15px;
   font-family: sans-serif;
   font-weight: bold;
   font-size: 14px;
}

main .css-emt {
  font-family: sans-serif;
  font
}

footer .column {
  background-color: #e7e9eb;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}
footer .row {
  display: flex;
  gap: 10px;
}
footer a {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  font-size: 15px;
}
.color-black {
  color: black;
}